label{
    padding:4px;
}
#calender{

}
#calender td{
    cursor:pointer;
}
input[type="checkbox"]:checked + label
{
    font-weight: bold;
    background-color: #888;
}
td.shift-date{
    background-color: #333;
    color:#FFF;
}
#calender td.click-date{
    background-color: #333;
    color:#FFF;
}
input[type='radio'].toggle-radio-button{
    display: none;
}
input[type='radio'].toggle-radio-button + label{
    border: 2px solid #000;
    background: #FFF;
    min-width: 8em;
    text-align: center;
    margin: 0px 0.5em;
}
input[type='radio'].toggle-radio-button:checked + label{
    border: 2px solid #000;
    filter: invert(100%);
}
ul.thread-list{
    padding:0px;
}
ul.thread-list li{
    display:inline-block;
    width:100%;
}
ul.thread-list li>a{
    float:left;
    text-decoration: none;
}
ul.thread-list li:nth-child(even){
}
ul.thread-list li:nth-child(odd){
    background-color: #DDD;
}
ul.thread-list span.user{
    float:right;
}
ul.thread-list span.recent-update-datetime{
    display: block;
}
ul.thread-list span.created-datetime{
    float:right;
}
#thread-list tbody tr td:first-child{
    width:80%;
}
#thread-list .user{
    position: relative;
}
#thread-list .user>span{
    position: absolute;
    visibility: hidden;
}
#thread-list .user:hover>span{
    visibility: visible;
    top:100%;
    margin-left:-100%;
    left:0%;
    color:#FFF;
    background-color: #333;
    border-radius: 9px;
    padding:9px;
    z-index: 9999;
}