label{
    padding:4px;
}
#calender{

}
#calender td{
    cursor:pointer;
}
input[type="checkbox"]:checked + label
{
    font-weight: bold;
    background-color: #888;
}
td.shift-date{
    background-color: #333;
    color:#FFF;
}
#calender td.click-date{
    background-color: #333;
    color:#FFF;
}
input[type='radio'].toggle-radio-button{
    display: none;
}
input[type='radio'].toggle-radio-button + label{
    border: 2px solid #000;
    background: #FFF;
    min-width: 8em;
    text-align: center;
    margin: 0px 0.5em;
}
input[type='radio'].toggle-radio-button:checked + label{
    border: 2px solid #000;
    filter: invert(100%);
}
ul.thread-list{
    padding:0px;
}
ul.thread-list li{
    display:inline-block;
    width:100%;
}
ul.thread-list li>a{
    float:left;
    text-decoration: none;
}
ul.thread-list li:nth-child(odd){
    background-color: #DDD;
}
ul.thread-list span.user{
    float:right;
}
ul.thread-list span.recent-update-datetime{
    display: block;
}
ul.thread-list span.created-datetime{
    float:right;
}
#thread-list .user{
    position: relative;
}
#thread-list .user>span{
    position: absolute;
    visibility: hidden;
    word-break: keep-all;
    
}
#thread-list .user:hover>span{
    visibility: visible;
    top:100%;
    margin-left:-100%;
    left:0%;
    color:#FFF;
    background-color: #333;
    border-radius: 9px;
    padding:9px;
    z-index: 9999;
}
.error-msg{
    visibility: hidden;
}
.has-error .error-msg{
    visibility: visible;
}
article .media{
    border-bottom: 1px dotted #333;
}
body{
    background-color: #f5f5f5
}
section{
    background-color: #FFF;
}
.comment-writed-date{
    position: absolute;
    right:0px;
    bottom:0px;
}
#comments-view .media-body{
    position: relative;
}
#comment-write-content{
    max-width: 100%;
    min-width: 100%;
    width:100%;
}
#tag-list-view ul{
    padding: 1em 0px;
    
}
#tag-list-view li{
    display: inline-block;
}
#tag-list-view li a{
    background-color: rgb(197, 241, 255);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
#tag-list-view li a:hover{
    background-color:#333;
    color:#FFF;
}
header{
    position: relative;
}
#btn-delete-thread{
    position: absolute;
    right:0px;
    bottom:0px;
}
#btn-delete-thread{
    
}