@* A very simple template with no arguments.  This line is a comment. *@
@use model::Comment;
@use markdown::render;
@(comments:&Vec<Comment>)
@for comment in comments{
<div class="media">
    <div class="media-left media-middle">
        <img class="media-object" src="@comment.get_user().get_gravatar_url(Some(64))">
        <span>@comment.get_user().get_nickname()</span>
    </div>
    <div class="media-body">
        @render(comment.get_content())
        <span class="comment-writed-date">@comment.get_writed_datetime()</span>
    </div>
</div>
}