@* A very simple template with no arguments.  This line is a comment. *@
@use model::Thread;
@use model::ToHTML;
@use templates::{default_js_header, default_navbar};
@(list:Vec<Thread>)
<!DOCTYPE html>
<html lang="ko">
    <head>
        @:default_js_header()
        <title>Document</title>
    </head>
    <body style="padding-top:70px;">
        @:default_navbar()
        <section class="container">
            <div class="row">
                <div class="col-md-10">
                    <form method="GET" class="form-inline">
                        <div class="form-group">
                            <input class="form-control" type="search" name="q" placeholder="스레드 제목">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </div>
                <div class="col-md-2" style="text-align: right;"><a style="width:100%;" class="btn btn-default" href="/write">스레드 열기</a></div>
            </div>
@if list.len() == 0{
            <span>스레드가 없습니다. 새로운 스레드를 생성해 보세요</span>
}
else{
            <table id="thread-list" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>주제</th>
                        <th>개시자</th>
                        <th>마지막 갱신</th>
                    </tr>
                </thead>
                <tbody>
@for item in list{
                    <tr>
                        <td><a href="/threads/@item.get_uid()">@item.get_subject()</a></td>
                        <td>
                            <span class="user">
                                <img src="@item.get_opener().get_gravatar_url(Some(24))" class="user-gravta">
                                <span>@item.get_opener().get_nickname()#@item.get_opener().get_uid()</span>
                                <input type="hidden" value="@item.get_opener().get_uid()">
                            </span>
                        </td>
                        <td>@item.get_recent_update_datetime()</td>
                    </tr>
    }
}
                </tbody>
            </table>
            <button id="more-threads" class="btn btn-default" style="width:100%;">더 보기</button>
        </section>
    </body>
</html>