@use templates::{default_js_header, default_navbar};
@()
<!DOCTYPE html>
<html lang="ko">
        <head>
            @:default_js_header()
            <title>Document</title>
            <script src="/js/profile.js"></script>
        </head>
        <body style="padding-top:70px;">
            @:default_navbar()
        <section class="container">
            <article>
                <h1>회원 정보</h1>
                <form id="profile-update">
                    <label for="profile-nickname">닉네임</label>
                    <input class="form-control" type="text" id="profile-nickname" name="nickname">
                    <label for="profile-cur-pass">현재 패스워드</label>
                    <input class="form-control" type="password" id="profile-nickname" name="cur_password">
                    <label for="profile-new-pass">새 패스워드</label>
                    <input class="form-control" type="password" id="profile-new-pass" name="new_password">
                    <label for="profile-new-pass-confirm">현재 패스워드</label>
                    <input class="form-control" type="password" id="profile-new-pass-confirm" name="new_password_confirm">
                    <input class="btn btn-default" type="submit"  value="수정하기">
                </form>
            </article>
        </section>
    </body>
</html>