@* A very simple template with no arguments.  This line is a comment. *@
@()
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/signup.js"></script>

        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/common.css" />
        <title>Document</title>
    </head>
    <body style="padding-top:70px;">
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-navbar-1">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">rs-threads-board</a>
                    </div>
                    <div class ="collapse navbar-collapse" id = "menu-navbar-1">
                        <ul id="menu" class="nav navbar-nav">
                            <li role="presentation"><a href="/threads">목록</a></li>
                            <li role="presentation"><a href="/tags">태그 목록</a></li>
                            <li role="presentation"><a href="/threads/write">스레드 생성</a></li>
                        </ul>
                        <form id="sign-in-form" action="/login" class="navbar-form navbar-right" role="sign-in">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="E-Mail" name="email">
                                <input type="password" class="form-control" placeholder="password" name="password">
                            </div>
                            <button type="submit" class="btn btn-default">sign in</button>
                            <a href="/signup" class="btn btn-default">sign up</a>
                        </form>
                        <div id="user-info" style="display: none;" class="navbar-right navbar-form">
                            <img id="user-gravatar"><button id="btn-signout" class="btn btn-default">sign out</button>
                        </div>
                    </div>
                </div>
            </nav>
            <section class="container">
            <form id="signup-form" class="form-horizontal" method="POST" action="/users">
                <div class="form-group">
                    <label for="signup-email" class="col-sm-2 control-label">E-Mail</label>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-10"  type="email" placeholder="E-mail" name="email" id="signup-email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="signup-nickname" class="col-sm-2 control-label">Nickname</label>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-10"  type="text" placeholder="Nicknamel" name="nickname" id="signup-nickname"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="signup-password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-10"  type="password" placeholder="Password" name="password" id="signup-password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="signup-password-confirm" class="col-sm-2 control-label">Password Confirm</label>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-10"  type="password" placeholder="Password" id="signup-password-confirm"/>
                        <span class="error-msg">암호가 일치하지 않습니다.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" value="회원가입하기">
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>