@* A very simple template with no arguments.  This line is a comment. *@
@use templates::{default_js_header, default_navbar};
@()
<!DOCTYPE html>
<html lang="ko">
        <head>
            @:default_js_header()
            <title>rs-board::sign up</title>
            <script src="/js/signup.js"></script>
        </head>
        <body style="padding-top:70px;">
            @:default_navbar()
        <section class="container">
            <form id="signup-form" class="form-horizontal" method="POST" action="/users">
                <div class="form-group">
                    <label for="signup-email" class="col-sm-2 control-label">E-Mail</label>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-10"  type="email" placeholder="E-mail" name="email" id="signup-email"/>
                    </div>
                </div>
                <aside>
                    이메일을 제대로 입력해야 gravater에서 프로필 사진을 가져올 수 있습니다.
                </aside>
                <div class="form-group">
                    <label for="signup-nickname" class="col-sm-2 control-label">Nickname</label>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-10"  type="text" placeholder="Nicknamel" name="nickname" id="signup-nickname"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="signup-password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-10"  type="password" placeholder="Password" name="password" id="signup-password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="signup-password-confirm" class="col-sm-2 control-label">Password Confirm</label>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-10"  type="password" placeholder="Password" id="signup-password-confirm"/>
                        <span class="error-msg">암호가 일치하지 않습니다.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" value="회원가입하기">
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>