@use templates::{default_js_header, default_navbar};
@use model::Tag;
@(tags:Vec<Tag>)
<!DOCTYPE html>
<html lang="ko">
    <head>
        @:default_js_header()
        <title>Document</title>
    </head>
    <body style="padding-top:70px;">
        @:default_navbar()
        <section class="container">
            <header>
                <form action="/tags" method="GET">
                    <input class="form-control" type="search" name="q" placeholder="tag name">
                    <input class="form-control" type="submit" value="검색">
                </form>
            </header>
            <article>
<ul>
@for tag in tags{
    <li><a href="/tags/@tag.get_name()">@tag.get_name() (@tag.get_thread_count())</a></li>
}
</ul>
            </article>
        </section>
    </body>
</html>