@use templates::{default_js_header, default_navbar};
@()
<!DOCTYPE html>
<html lang="ko">
    <head>
        @:default_js_header()
        <title>Document</title>
    </head>
    <body style="padding-top:70px;">
        @:default_navbar()
        <section class="container">
            <header>
                <form method="GET">
                    <input type="search" name="search_tag_name" placeholder="tag name">
                </form>
            </header>
            <article>

            </article>
        </section>
    </body>
</html>