@* A very simple template with no arguments.  This line is a comment. *@
@use templates::{default_js_header, default_navbar};
@use model::Thread;
@(thread:&Thread)
<!DOCTYPE html>
<html lang="ko">
        <head>
            @:default_js_header()
            <title>Document</title>
            <script src="/js/threads.js"></script>
        </head>
        <body style="padding-top:70px;">
            @:default_navbar()
        <section class="container">
            <header>
                <h1>@thread.get_subject()</h1>
                <span>
                    @thread.get_open_datetime() 에 열림
                </span>
            </header>
            <article id="comments-view">

            </article>
            <footer>
                <div class="media" id="comment-write-area">
                    <div class="media-left media-middle">
                        <img  id="comment-writer-gravatar" class="media-object" src="">
                        <span id="comment-writer"></span>
                    </div>
                    <div class="media-body">
                        <form id="comment-write-form" action="/threads/@thread.get_uid()/comments" method="POST">
                            <div class="form-group">
                            <textarea id="comment-write-content" class="form-control"></textarea>   
                            <input class="btn btn-default" type="submit" value="comment">
                        </form>
                    </div>
                </div>
            </footer>
        </section>
    </body>
</html>