@* A very simple template with no arguments.  This line is a comment. *@
@use templates::{default_js_header, default_navbar};
@use model::Thread;
@(thread:&Thread)
<!DOCTYPE html>
<html lang="ko">
        <head>
            @:default_js_header()
            <title>Document</title>
            <script src="/js/threads.js"></script>
        </head>
        <body style="padding-top:70px;">
            @:default_navbar()
        <section class="container">
            <header>
                <h1>@thread.get_subject()</h1>
                <span>
                    @thread.get_open_datetime() 에 열림
                </span>
                <div id="tag-list-view">
                    
                </div>
                <button class="btn btn-default" id="btn-delete-thread" data-thread-uid="@thread.get_uid()">삭제</button>
            </header>
            <article id="comments-view">

            </article>
            <footer>
                <div class="media" id="comment-write-area">
                    <div class="media-left media-middle">
                        <img  id="comment-writer-gravatar" class="media-object" src="">
                        <span id="comment-writer"></span>
                    </div>
                    <div class="media-body">
                        <form id="comment-write-form" action="/threads/@thread.get_uid()/comments" method="POST">
                            <div class="form-group">
                                <textarea id="comment-write-content" class="form-control"></textarea>   
                                <input class="btn btn-default" type="submit" value="comment">
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    마크다운 문법
                    <ul>
                        <li>@{@{내용@}@}:문법 사용하지 않는 내용입니다</li>
                        <li>[내용](링크): 링크를 거는 문법입니다</li>
                        <li>__내용__ 또는 **내용**: 텍스트에 볼드처리 할 때 사용합니다.</li>
                        <li>--내용-- 또는 ~~내용~~: 텍스트를 취소선처리합니다.</li>
                        <li>공백 두 개'  ': 줄 바꿈을 합니다.</li>
                        <li>줄바꿈 두번(\n\n): 문단을 나눕니다.</li>
                    </ul>
                </div>
            </footer>
        </section>
    </body>
</html>